header,
footer {
  background-color: black;
  color: white;
  text-align: center;
  justify-content: center;
}

body {
  display: grid;
  font-size: medium;
}

nav {
  background-color: gray;
  overflow: auto;
  display: block;
  padding: 10px;
  border: 5px;
}
main {
  display: grid;
  padding: 10px;
  border: 5px;
  grid-template-columns: 15% auto 20%;
}
aside {
  background-color: lightgray;
  overflow: auto;
  display: flex;
  align-items: start;
  justify-content: flex-start;
  padding: 10px;
  border: 5px;
}
section {
  padding: 15px;
}

section:not(#forma) div {
  float: right;
  margin-left: 20px;
  width: 500px;
  gap: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
section div img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
section div img.wide {
  grid-column: span 2;
  height: 20cap;
}
#forma {
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 30px;
  align-items: start;
}
#errorBox {
  background-color: yellow;
  color: red;
  padding: 10px;
  font-weight: bold;
  height: fit-content;
  border: 2px solid red;
}
.formRow {
  display: grid;
  grid-template-columns: 250px 1fr;
  margin-bottom: 15px;
  align-items: start;
}
.formRow > label {
  font-weight: bold;
  margin-right: 10px;
}
.formRow input[type="text"] {
  width: 200px;
}
.formRow select {
  width: 150px;
}
.buttons button {
  margin-right: 5px;
}
.checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: normal;
}
#results {
  float: none !important;
  width: auto !important;
  display: flex !important;
  flex-direction: column !important;
  gap: 20px !important;
  grid-template-columns: none !important;
  display: block;
  background-color: lightgray;
  color: green;
  border: 2px solid red;
  align-items: center !important;
  margin: 20px 0;
  max-width: 600px;
  padding: 20px;
  align-items: flex-start;
  gap: 10px;
}
#results span {
  font-weight: normal;
  color: green;
}
#results p {
  font-weight: bold;
  margin: 0;
}
#results h3 {
  margin: 0;
  color: green;
}
